{% extends 'Base.html' %}
{% load static %}

{% block link_css %}
<link rel="stylesheet" href="{%static 'css/gallary.css'%}">
<link rel="stylesheet" href="{%static 'Lightbox/css/lc_lightbox.min.css'%}">
<link rel="stylesheet" href="{%static 'Lightbox/css/lc_lightbox.css'%}">

<style>

</style>
{% endblock link_css %}
{%block body%}

<div class="container ">
    <p class="text-center pt-2 mt-2 h2 ">Photo Gallary <i class="bi bi-images mx-2"></i></p>
    <div class="row my-3 pb-5" id="images">
        <p class=" text-center opacity-75 pb-1">use <a href="https://www.instagram.com/explore/tags/trektales_/"
                target="_blank" rel="noopener noreferrer"><span class="badgeuser  fonts">#trektales_</span></a> & tag us
            with your photo
            on instagram to get featured</p>
        <div class="col-lg-8 col-sm-8 col-12 mx-auto">
            <form hx-get="" hx-target="#gallary" hx-indicator=".progress" hx-trigger='submit' hx-swap="innerHTML"
                id="filterForm" class="">
                <div class="input-group ">
                    <select class="form-control rounded-0  rounded-start " aria-placeholder="Select Tour"
                        name='selected_tour' id="selected_tour" required>
                        <option selected value="all_tour">All Memories</option>
                        {%for tour in tours%}
                        <option value="{{tour.id}}">
                            <span>
                                {{tour.Heading}}
                            </span>
                            <span class="px-4 float-end  d-none d-lg-inline-block d-sm-inline-block">
                                | {{tour.tour_on_date|date:'d M Y'}}
                            </span>
                        </option>
                        {%endfor%}
                    </select>
                    <button type="submit" class="btn btn-sm btn-success  rounded-0 rounded-end">submit</button>
                </div>
            </form>
        </div>

    </div>
    <div id="gallary" class="mb-5">
        {%include 'gallary/imageCard.html'%}
    </div>
</div>
</div>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script src='https://code.jquery.com/jquery-3.2.1.min.js' type='text/javascript'></script>
<script src="{%static 'Lightbox\js\lc_lightbox.lite.min.js'%}" type='text/javascript'></script>
<script src="{%static 'Lightbox/lib/AlloyFinger/alloy_finger.min.js'%}" type='text/javascript'></script>
<script>
    window.document.title += " | Gallary";
    $(document).ready(function () {

        lc_lightbox('#gallary .gallary-image a');
    });
</script>
{% endblock body%}