{% extends 'Base.html' %}
{% load static %}
{% block link_css %}
<link rel="stylesheet" href="{%static 'css/card.css'%}">
<style>
    body {
        overflow-x: hidden !important;
    }
</style>
{% endblock link_css %}
{%block body%}
<div class="lazy position-relative">
    <div id="hero">
        <div id="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-auto me-auto">
                        <div class="mb-2  heroText">HEAD OUT ON YOUR <br>
                            NEXT HIKING ADVENTURE</div>
                        <a href="{%url 'updates'%}">
                            <button class="btn1 bg-transparent p-2 px-3 text-white">Explore Tour</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span class="position-absolute bottom-0  end-0 me-2 d-flex flex-column align-items-center gap-0 opacity-50 cursor-pointer" onclick="AnimationToggel()" data-bs-toggle="tooltip"
    data-bs-placement="left" title="play/pause background animation">
        <i class="bi bi-pause-circle-fill h3" id="animation-btn" ></i>
    </span>
</div>

<div id="section2">
    <div class="container-fluid pt-4">
        <div class="row text-uppercase text-center my-3 ">
            <div class="col-12 pt-4 pt-lg-0 pt-sm-0">
                <p class="whyTrekTales h1">Why Trek.Tales</p>
            </div>
        </div>
        <div class="row text-uppercase text-center mb-5">
            <div class="col-lg-3 col-6 py-lg-2 py-4 icons">
                <img src="{%static 'images/icons/booking.png'%}" alt="Mobile" sizes="25px*25px" width="75px"
                    height="75px">

                <p class="text-center opacity-75 mt-2">Easy Booking</p>
            </div>
            <div class="col-lg-3 col-6 py-lg-2 py-4 icons"><img src="{%static 'images/icons/24-hours.png'%}" alt="24x7"
                    sizes="25px*25px" width="75px" height="75px">

                <p class="text-center opacity-75 mt-2">24X7 Available</p>
            </div>
            <div class="col-lg-3 col-6 py-lg-2 py-4 icons"><img src="{%static 'images/icons/best-price.png'%}"
                    alt="Best Price" sizes="25px*25px" width="75px" height="75px">
                <p class="text-center opacity-75 mt-2">Flexible Prices</p>
            </div>

            <div class="col-lg-3 col-6 py-lg-2 py-4 icons"><img src="{%static 'images/icons/custom.png'%}" alt="Costom"
                    sizes="25px*25px" width="75px" height="75px">
                <p class="text-center opacity-75 mt-2">Customize Your Tours,Treks & Events</p>
            </div>
        </div>
        <!-- stats  -->
        <div class="row text-capitalize text-center py-5 ">
            <h1 class="whyTrekTales h1">Our achievement</h1>
            <div class="col-lg-4  col-6 text-user-theme-primary my-3 my-lg-0 ">
                <div class="rollNumber">{{total_Tours}}+</div>
                Completed Tours
            </div>
            <div class="col-lg-4  col-6 text-user-theme-primary my-3 my-lg-0">
                <div class="rollNumber">{{total_Costumers}}+</div>
                Total Costumers
            </div>
            <div class="col-lg-4  col-auto mx-auto text-user-theme-primary my-3 my-lg-0">
                <div class="rollNumber">{{total_Review}}+</div>
                Total Review's
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row h-100">
            <div class="col-12 text-center" id="hikeforall">
                <h2 class="h1">HIKES FOR ALL WALKS OF LIFE</h2>
                <p class="py-2 mx-auto opacity-75">
                    The beautiful thing about hiking is that it's truly an activity everyone can do. <br> Whether you're
                    young or old, an expert or an amateur.<br>
                <p class="h5 fw-semibold"><q> There are no shortcuts to any place worth going. </q></p>
                </p>
            </div>
        </div>
    </div>
</div>
<p class="text-center">
    <a href="{%url 'aboutUs' %}">
        <button class="button-primary ">
            More About Us
        </button>
    </a>
</p>
<div id="news" class="mt-5">
    <div class="container-fluid pb-4">
        <div class="row py-5">
            <div class="col-12 news text-center mb-4">
                <p><b class="text-shadow py-3 h1"> Upcoming Events </b></p>
            </div>
            <div class="row  d-flex align-items-stretch mx-auto">
                {% include 'card.html' %}
            </div>
            <div class="col-12 text-center pt-5 ">
                <a href="{%url 'updates'%}"><button class="btn1 px-3 p-2 bg-transparent">Explore More <i
                            class="bi bi-box-fill"></i></button></a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-5 my-3  ">
    <div class="row overflow-hidden py-5">
        <div class="col-12" id="Testimonials">
            <p class=" my-3 text-shadow h1 text-center"><b>Testimonials</b></p>
            <div class="container-fluid mb-4" onmouseenter="Testimonial_slow()" onmouseleave="Testimonial_Play()">
                <div class="running-flex">
                    <div class="running-reco-wrapper ">
                        <div role="list" class="running-reco-list marquee ">
                            {%for Testimonial in Testimonials1.all%}
                            <div role="listitem" class="reco-grid-item running-reco position-relative">
                                <i class="bi bi-quote  h1 float-start position-absolute testimonial-quote"></i>
                                <div class="reco-grid-content">
                                    <div class="reco-grid-rich-text w-richtext">
                                        <p>{{Testimonial.Review|safe}}<br></p>
                                    </div>
                                    <div
                                        class="reco-grid-bottom  d-flex flex-row align-items-center gap-2 font-weight-bold pt-2">
                                        <img src={{Testimonial.ReviewerImage.url}} loading="lazy"
                                            alt="{{Testimonial.ReviewBy}}" class="reco-img-grid lazy">
                                        <div class="d-flex flex-column ">
                                            <div class="native--reco-name text-uppercase opacity-90">
                                                {{Testimonial.ReviewBy|safe}}
                                            </div>
                                            <div class="small opacity-45 text-capitalize">
                                                {{Testimonial.profession|safe}}</div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            {%endfor%}

                        </div>
                    </div>
                </div>
                <div class="running-flex ">
                    <div class="running-reco-wrapper w-dyn-list">
                        <div role="list" class="running-reco-list marquee-reverse w-dyn-items">
                            {%for Testimonial in Testimonials2.all%}
                            <div role="listitem" class="reco-grid-item running-reco position-relative">
                                <i class="bi bi-quote  h1 float-start position-absolute testimonial-quote-2"></i>
                                <div class="reco-grid-content">
                                    <div class="reco-grid-rich-text w-richtext ">
                                        <p>{{Testimonial.Review|safe|truncatewords:'30'}}<br></p>
                                    </div>
                                    <div
                                        class="reco-grid-bottom  d-flex flex-row align-items-center gap-2 font-weight-bold pt-2">
                                        <img src={{Testimonial.ReviewerImage.url}} loading="lazy"
                                            alt="{{Testimonial.ReviewBy}}" class="reco-img-grid lazy">
                                        <div class="d-flex flex-column">

                                            <div class="native--reco-name text-uppercase opacity-90">
                                                {{Testimonial.ReviewBy|safe}}
                                            </div>
                                            <div class="small opacity-45 text-capitalize">
                                                {{Testimonial.profession|safe}}</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            {%endfor%}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-center">
            <a href="https://bit.ly/3p7WG7X" target="_blank" rel="noopener noreferrer">
                <button class="button-primary py-1 px-3">
                    Write Review <i class="bi bi-star-fill"></i>
                </button>

            </a>
        </div>
    </div>
    <div class="container-fluid">

    </div>
    <div class="container-fluid pb-5 pt-4">
        <p class="h1 my-3 text-shadow text-center"><b>Featured Photos</b></p>
        <p class=" text-center opacity-75">use <a href="https://www.instagram.com/explore/tags/trektales_/"
                target="_blank" rel="noopener noreferrer"><span class="badgeuser  fonts">#trektales_</span></a> & tag us
            with
            your photo on instagram to get featured</p>
        <div class="row position-relative">
            <div
                class="col-6 col-sm-1 col-lg-1 col-sm-1 my-auto order-1 order-sm-1 order-lg-1 d-lg-block d-sm-block d-none">
                <i class="bi bi-caret-left text-white  h5 rounded rounded-circle p-lg-2 p-1 p-sm-2 border border-light float-end"
                    onclick="goBack() " style="cursor: pointer;"></i>
            </div>
            <div class="col-12 col-lg-10 col-sm-10 order-sm-2 order-lg-2 order-3 ">
                <div class="d-flex gap-3 flex-nowrap overflow-auto py-2" id="scrollbar">
                    {%for image in gallary%}
                    <div class="col-4 my-auto rounded" style="background-image:url({{image.photos_taken.url}}) ; height: 35vh;background-position: center; width: 35vh;
                background-repeat: no-repeat;
                background-size: cover;">
                    </div>
                    {%endfor%}
                    <div class="col-2 my-auto text-center ">
                        <a href="{%url 'gallary'%}" class="opacity-75">View More <i class="bi bi-image-fill"></i></a>
                    </div>
                </div>
            </div>
            <div
                class="col-6 col-sm-1 col-lg-1 col-sm-1 order-sm-3 order-lg-3 order-sm-3 order-2 my-auto d-lg-block d-sm-block d-none">
                <i class="bi bi-caret-right text-white  h5 rounded rounded-circle  p-lg-2 p-1 p-sm-2 border border-light float-start"
                    onclick="goForward() " style="cursor: pointer;"></i>
            </div>

        </div>
    </div>
</div>

<script>

    function goForward() {
        document.getElementById('scrollbar').scrollBy(620, 0);
    }
    function goBack() {
        document.getElementById('scrollbar').scrollBy(-620, 0)
    }
    document
    function Testimonial_slow() {
        document.querySelectorAll('.running-reco-list').forEach(list => list.classList.add("marquee-slow"));
    }
    function Testimonial_Play() {
        document.querySelectorAll('.running-reco-list').forEach(list => list.classList.remove("marquee-slow"));
    }

    function AnimationToggel() {
        document.getElementById('hero').classList.toggle('animation-stop');
        if (document.getElementById('animation-btn').classList.contains('bi-play-circle-fill')) {
            document.getElementById('animation-btn').classList.replace('bi-play-circle-fill', 'bi-pause-circle-fill')
        }
        else {
            document.getElementById('animation-btn').classList.replace('bi-pause-circle-fill', 'bi-play-circle-fill')
        }
    }
    window.document.title += " | Home";
</script>


{% endblock body%}