{
        % load static %
    }

    @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Smooch+Sans&display=swap');

    :root {
        --primary-text: white;
        --elegance: rgb(39 39 39);
        --primary-theme: #a6c;
        --card-bg: #37474f;
        --primary-bg: #1c2331;
        --hover: #4285f4;
        --white: white;
        /* --card-bg: #ffffff; */
    }
    .theme-color {
        color: var(--primary-theme);
    }

    ::-webkit-scrollbar {
        background-color: var(--primary-bg);
        width: 1vw;

    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--primary-theme);
    }

    .card {
        background-color: var(--card-bg) !important;
    }

    body {
        overflow-x: hidden;
        scroll-behavior: smooth;
        background-color: var(--primary-bg);

    }

    #section1 {
        transition: all ease-in-out;
        background-image: url("/static/images/bgimage.jpg");
        height: 90vh;
        width: 100vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: var(--white);
        overflow-x: hidden;
        filter: brightness(-10vh);
    }

    #home-head-box {
        backdrop-filter: brightness(0.5);
    }

    #home-head-contant {
        margin-top: 15vh;

    }

    #home-head-contant>div>h1 {
        font-weight: 900;
        word-spacing: 2px;
        line-height: 8vh;
        font-size: 7vh;
        font-family: 'Heebo', sans-serif;
        text-shadow: -3px 4px 2px var(--primary-bg);
    }

    #nav-text {
        font-size: 1.7rem;
        font-family: 'Fredoka', sans-serif;
        text-shadow: -2px 3px 2px rgba(147, 150, 150, 0.5);
        user-select: none;
    }

    .Trek_Tales_latters {
        font-family: 'Fredoka', sans-serif;
    }

    .btn1 {
        border: thin solid var(--white);
        color: var(--white);
        border-radius: 0%;
        background-image: linear-gradient(#ff2f97, #ff2f97);
        background-repeat: no-repeat;
        background-size: 0% 100%;
        background-position-x: right;
        transition: background-size 500ms;
        user-select: none;
    }

    .btn1:hover {

        background-size: 100% 100%;
        background-position-x: left;
    }

    .btn {
        border-radius: 0;
        transition: all 0.8s;
        user-select: none;

    }

    #section2weare {
        background-image: url('/static/images/section2Home.webp');
        background-position: right;
        background-size: auto;
        background-repeat: no-repeat;
        background-color: var(--primary-theme);
        height: max-content;
        text-align: left;
        vertical-align: middle;
        color: var(--white2);
        box-shadow: 8px 10px 6px -1px rgba(0, 0, 0, 0.7);
        user-select: none;

    }

    #section2weare>p {
        /* margin-top:10vh;  */
    }

    #section2weareMain>h1 {
        font-size: 6vh;
        user-select: none;


    }

    #section2weareMain {
        font-weight: 700;
        line-height: 8vh;
        font-family: 'Heebo', sans-serif;
        user-select: none;
        
    }

    .whyTrekTales {
        font-weight: 700;
        line-height: 8vh;
        font-family: 'Heebo', sans-serif;
    }

    #hikeforall>h1,
    .news>h1 {
        font-weight: 700;
        font-family: 'Heebo', sans-serif;
        user-select: none;

    }

    #hikeforall>p {
        width: 85vw;
    }

    #news {
        background-color: var(--primary-theme);
        color: var(--white2);
        box-shadow: 8px 10px 6px -1px rgba(0, 0, 0, 0.7);
    }

    .text-shadow {
        text-shadow: -2px 3px 2px var(--elegance);
    }

    #section2 {
        height: auto;
    }

    #sharemovements {
        font-size: 7vh;
        font-weight: 900;
        font-family: 'Heebo', sans-serif;
    }

    #AlertMessage {
        position: absolute;
        width: 50;
        text-align: center;
        z-index: 40;
        top: 1vh;
        right:0vh;

        transition: cubic-bezier(.09, .31, .94, .8);


    }


    .heading {
        font-family: 'Heebo', sans-serif !important;
        user-select: none;
    }

    a {
        text-decoration: none;
        color: inherit !important;
    }

    a:hover {
        color: inherit;
    }

    #manu {
        height: 100vh;
        width: 35vw;
        z-index: 14;
        background-color: var(--primary-bg);
        position: fixed;
        right: 0;
        top: 0;
        overflow-y: auto;
        transition: all cubic-bezier(0.075, 0.82, 0.165, 0.2);
    }


    #manu {
        visibility: hidden;
        user-select: none;
    }

    #closemanu {
        position: fixed;
        right: 0;
        top: 3vh;
        cursor: pointer;
    }

    #manubar {
        cursor: pointer;
        font-size: 2rem;
        opacity: 0.7;
        transition: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    }

    #manubar:hover {
        opacity: 1;
    }

    #items {
        margin: 10vh 3vw;
        margin-top: 25vh;
        font-size: 3rem;
        height: 45vh;
        overflow-y: auto;
        font-family: 'Heebo', sans-serif;
        border: thin solid var(--primary-bg);
        border-left: none;
        border-right: none;

    }

    #items>ul>li {
        list-style: none;
    }

    #socails {
        margin: 0 2vw;
        text-align: center;
        font-size: 4vh;
    }

    #socails>a {
        font-size: 2rem;
        margin: 0 2rem;
    }

    .bg-dark {
        background-color: var(--card-bg) !important;
    }

    .UpdateData:hover {
        backdrop-filter: brightness(0.3);
    }

    .card:hover,
    .cardHoverd {
        filter: brightness(-10px);
        box-shadow: 8px 10px 6px -1px rgba(0, 0, 0, 0.7);
    }

    .card {
        background-blend-mode: soft-light;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .icons {
        border-left: thin solid var(--primary-theme);
    }

    .icons:first-child {
        border-left: none;
    }

    /* updates page */
    .modal-content {
        background-color: var(--card-bg);
    }

    .modal-body .btn-close {
        right: 1vh;
        top: 1vh;
        z-index: 15;
    }

    .modal-body {
        padding-top: 5vh;

    }

    .scaleImage {
        position: absolute;
        right: 1vh;
        top: 1vh;
        font-size: larger;
        cursor: pointer;
        opacity: 0.7;
    }

    .scaleImage:hover {
        opacity: 1;
    }

    .modelBlur {
        backdrop-filter: blur(1px) !important;
    }

    .bi-Hover:hover {
        transition: all 200ms;
        background: linear-gradient(to right, var(--primary-theme), #ff2f97);
        -webkit-background-clip: text;
        color: transparent;
    }

    @media (max-width:768px) {
        #manu{
            width: 50vw;
        }
    }   
    @media (max-width:576px) {
        #section2 {
            height: auto;
        }

        #section2weare {
            background-position: center !important;
        }

        #manu {
            width: 100vw;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            height: 100vh;
        }

        .icons {
            border: none;
        }

        #section2 {
            height: auto;
        }

        #section2weare {
            background-position: center !important;
        }

        #manu {
            width: 100vw;
        }

        .whyTrekTales {
            font-size: 3rem;
            margin-top: 1rem;
        }

        #section2weareMain>h1 {
            font-size: 3rem;
        }
    }

    .manuItem:hover {
        border-left: thick solid var(--primary-theme);
        padding-left: 0.5vw;
        transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition-delay: 0.1s;
        transition-duration: 0.3s;
    }

    .TourExpire {
        filter: grayscale(100%);

    }

    .TourExpireContiner {
        filter: hue-rotate(10deg);
        position: relative;
    }

    .TourExpireContiner::before {
        content: "Tour Expired";
        position: absolute;
        z-index: 5;
        top: 10%;
        text-align: center;
        background-color: burlywood;
        width: max-content;
        padding: 0 3%;
        color: black;
    }

    @media (max-width:576px) {
        .TourExpireContiner::before {
            top: 0;
        }
    }