@import url("navigation.css");
body{
    overflow-y: hidden;
}
#Preloader{
    position: fixed;
    background-color: var(--primary-bg);
    backdrop-filter:  url(filters.svg#filter)  brightness(5%) saturate(150%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1500;
    top: 0;
   
}

#Preloader>img{
    height: 50vh;
    position: relative;
}

#status{
    display: none;
}

.socails:hover{
    transform: scale(1.1);
    transition: all .25s;
}
.button-primary {
    min-width: 130px;
    height: 40px;
    border: thin solid var(--primary-text);
    padding: 5px 10px;
    color: var(--primary-text);
    font-size: medium;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    font-weight: 400;

}

.button-primary::after {
    content: '';
    position: absolute;
    top: 6px;
    left: 5px;
    width: 100%;
    height: 100%;
    background-color: var(--primary-theme);
    z-index: -5;
    transition: all 0.3s ease;
}


.button-primary:hover:after {
    top: 0;
    left: 0;
}