<p class="text-center opacity-75 h4 my-2">{{filter}}</p>
<div class="table-responsive my-5" id="table">
    <table class="table">
        <thead>
            <tr class="table-info">
                <th scope="col">#</th>
                <th scope="col">FullName</th>
                <th scope="col">Email</th>
                <th scope="col">Message</th>
                <th scope="col">Contact_on</th>
            </tr>
        </thead>
        <tbody>
            {%for request in data%}
            <tr class="text-light">
                <th scope="row">{{forloop.counter}}</th>
                <th>{{request.FullName}}</th>
                <td><a href="mailto:{{request.Email}}">{{request.Email}}</a></td>
                <td>{{request.Message}}</td>
                <td class="text-capitalize">{{request.Contact_on|date:"d-b-y"}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>