<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Treak Tales</title>
  <!--google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap" rel="stylesheet">
  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

  <!-- aso -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  
  <link rel="stylesheet" href="{%static 'css/loader.css'%}">
  <link rel="icon" href="{%static 'images/logo.png'%}" type="image/gif" sizes="20x20">
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css" rel="stylesheet" />
  {% block link_css %}
  {% endblock link_css %}
</head>

<body class='text-white'>
  <!-- loader Screen -->
  <div id="loader1">
    <div id="load">
      <img src="{%static 'images/logo.png'%}" alt="" id="loaderLogo" class="img-fluid">

    </div>
  </div>
  <!-- info status -->
  <div id="status" style="visibility: hidden;">
    <div class="alert alert-warning d-flex align-items-center" role="alert" >
      <i class="bi bi-wifi-off"> </i>
      &nbsp;
      <div>
        Your Offline
      </div>

      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="position: absolute;
    right: 2vw;"></button>
    </div>
  </div>

  <nav class="navbar bg-dark text-white" id="navbar">
    <a class="navbar-brand mx-auto" href="{% url 'home' %}"><b id="nav-text">Trek.Tales</b></a>
    <span id="manubar" class="bi bi-list mx-3 " style="background-color: transparent;" onclick="openmanu()">
    </span>
  </nav>
  <div id="manu" class="bg-dark text-white">
    <span id="closemanu" class="btn-close  btn-close-white  mx-3" style="font-size: 3vh;" onclick="closemanu()">
    </span>
    <div id="items">
      <ul>
        <li><a href="{% url 'home' %}" class="manuItem">Home</a></li>
        <li><a href="{% url 'updates' %}" class="manuItem">Updates</a></li>
        <li><a href="{% url 'gallary' %}" class="manuItem">Gallary</a></li>
        <li><a href="{% url 'contact' %}" class="manuItem">Contact</a></li>
        <li><a href="{% url 'cancelation' %}" class="manuItem" title="Cancelation Of Trip">Cancelation</a></li>
      </ul>
    </div>

    <div id="socails">
      <a href="https://www.instagram.com/trek.tales_/" target="_blank" title="instagram">
        <i class="bi bi-instagram  bi-Hover"></i>
      </a>
      <a href="tel:+917083011343" target="_blank" title="call" >
        <i class="bi bi-telephone bi-Hover"></i>
      </a>
      <a href="https://api.whatsapp.com/send?phone=7083011343&text=Hello." target="_blank" title="whatsapp">
        <i class="bi bi-whatsapp bi-Hover"></i>
      </a>
    </div>
  </div>
  <div class="message" id="AlertMessage">
    {%for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
      <strong>Message: </strong> {{message|safe}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {%endfor%}
  </div>



  {% block body %}

  {% endblock body %}
  <footer class="footer text-white w-100 Trek_Tales_latters" style="background-color: #37474f">
    <div class="container py-4">
      <div class="row">

        <div class="col-lg-6 col-10 mx-auto text-center py-1 text-lg-start "><a href="home"
            class="text-decoration-underline text-white">Trek
            Tales</a> © {%now 'Y'%} All Rights Reserved.
        </div>
        <div class="col-lg-6 col-12 py-1 text-center text-lg-end">
          Designed and Developed by &nbsp;<a href="https://linktr.ee/Sudarshan_Kakde"
            class="text-decoration-underline text-white" target="_blank" rel="noopener noreferrer"><i
              class="bi bi-github"></i> Sudarshan Kakde.</a>
          And Team
        </div>
      </div>
    </div>
  </footer>











  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="{%static 'js/other.js'%}"></script>
  <script src="{%static 'js/navbar.js'%}"></script>
  <script src="{%static 'js/tinyInject.js'%}"></script>
  <!-- <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
  <!-- MDB -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  {% block script %}

  {% endblock script %}

</body>

</html>