{% extends 'Base.html' %}
{% load static %}

{% block link_css %}
<link rel="stylesheet" href="{%static 'css/home.css'%}">
<style>
    
</style>
{% endblock link_css %}
{%block body%}
<div class="container-fluid my-5">
    <div class="row">
        <div class="col-lg-8 col-12 order-2 order-lg-1 order-sm-1">
            <!-- form  -->
            <form action="" method="post" class="form-control bg-dark text-white py-4 my-4 my-lg-0 my-sm-0">
                {% csrf_token %}
                <h2 class="mb-3 text-center heading">Slot Booking Form.</h2>
                {% if slotsRemaing %}
                <h6 class="text-center text-capitalize">HurryUp <i class="bi bi-hourglass-split"></i>,Only
                    {{slotsRemaing}}
                    Slots remaining.</h6>
                <hr>
                <!-- Name -->
                <div class="row">
                    <div class="text-capitalize py-1">Name</div>
                    <!-- first name  -->
                    <div class="col-md-6 mb-3">
                        <div class="form-outline form-white">
                            <input type="text" id="fName" class="form-control form-control-lg" name="fName" />
                            <label class="form-label" for="fName">First Name</label>
                        </div>
                    </div>
                    <!-- last name  -->
                    <div class="col-md-6 mb-3">
                        <div class="form-outline form-white">
                            <input type="text" id="lastName" class="form-control form-control-lg" name="lastName" />
                            <label class="form-label" for="lastName">Last Name</label>
                        </div>
                    </div>

                </div>
                <!-- gender -->
                <div class="text-capitalize py-1">Gender</div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="male" value="Male" required="" />
                    <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="female" value="Female" required="" />
                    <label class="form-check-label" for="female">Female</label>
                </div>

                <!-- email id -->
                <div class="text-capitalize pt-3 pb-1">Contact</div>
                <div class="form-outline form-white mb-4 ">
                    <input type="email" id="email_user" class="form-control form-control-lg" name='email' required />
                    <label class="form-label" for="email_user">Email</label>
                </div>


                <!-- phone no 1 -->
                <div class="form-outline form-white my-4">
                    <input type="tel" class="form-control form-control-lg" id="Phone_no1_user" name="Phone_no1"
                        required=""  data-mdb-showcounter="true" maxlength="10"/>
                    <label class="form-label" for="Phone_no1_user">Phone number</label>
                    <div class="form-helper"></div>
                </div>


                <!-- adress -->
                <div class="form-outline form-white my-4">
                    <textarea class="form-control form-control-lg" rows="4" name="address" id="address"
                        class="form-control"></textarea>
                    <label class="form-label" for="address">Address</label>
                </div>
                <input type="hidden" class="" id="amount" placeholder="" required="" name="amount"
                    value="{{updates.price}}">
                <button type="submit" class="btn1 btn-outline-light text-capitalize bg-transparent my-1 my-lg-0"
                    id="BookSlotBtn">confirm
                    Booking</button>


                {% else %}
                <img src="{%static 'images/icons/sorry-no-slots.jpg'%}" alt="" class="img-fluid">
                <span class="text-center mx-auto">
                    <div class="py-3">
                        We're sorry, all the slots are currently reserved or tour has been expired already. If you contact us, we'll find a way to
                        accommodate your needs
                    </div>
                    <h6 class="text-center "><a href="contact" class="text-decoration-underline px-2 ">Contact US</a>
                        <a href="https://linktr.ee/Treak_Tales" class="text-decoration-underline px-2 ">Our Socails</a>
                    </h6>
                </span>
                {% endif %}
            </form>
        </div>
        <div class="col-lg-4  col-12 order-1 order-lg-2 order-sm-2 text-center">
            <div class="card cardHoverd" style="height: 100vh;">
                <img src="{{updates.Tour_image.url}}" alt="" class="card-img-top img-fluid " style="max-height: 50vh;">
                <p class="text-capitalize pt-3">
                    <b>Destination -</b> {{updates.location}} <br>
                    <b>price -</b> Rs.{{updates.price}} <br>
                    <input type="hidden" name="" value="{{updates.price}}" id="bookingPrice">
                    <b>Tour on -</b> {{updates.tour_on_date}}
                </p>
                <div class="card-body" style="overflow-y: auto;">
                    <span>{{updates.packageInfo|safe}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock body%}
{% block script %}
<script>window.document.title+=" | BookSlot"</script>
{% endblock script %}