{% extends 'Base.html' %}
{% load static %}

{% block link_css %}
<link rel="stylesheet" href="{%static 'css/home.css'%}">
<link rel="stylesheet" href="{%static 'css/contact.css'%}">
{% endblock link_css %}
{%block body%}
<div class="container py-5">
    <div class="text-center text-capitalize my-5 ">
        <h1 class="heading">Contact us.</h1>
        <p class="opacity-75">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you
            within a
            matter of hours to help you.</p>
    </div>
    <div class="row">
        <div class="col-lg-6 col-12 col-sm-10 mx-auto">
            <form action="contact" method="post" class=" text-dark">
                {% csrf_token %}
                <div class="form-floating mb-3 ">
                    <input type="text" class="form-control " id="name" name='name' placeholder="name@example.com">
                    <label for="name"><i class="bi bi-person-lines-fill"></i> Your Full Name</label>
                </div>
                <div class="form-floating mb-3 ">
                    <input type="email" class="form-control" id="email" name='email' placeholder="name@example.com">
                    <label for="email"><i class="bi bi-envelope-fill"></i> Your Email address</label>
                </div>
                <div class="form-floating ">
                    <textarea class="form-control" placeholder="Leave a Message here" id="message" name="message"
                        style="height: 100px"></textarea>
                    <label for="message"><i class="bi bi-chat-right-text-fill"></i> Your Message</label>
                </div>
                <div class="mx-auto text-center mt-2">
                    <button class="btn1 bg-transparent px-4 py-1 my-lg-3 my-2  text-capitalize " type="submit">submit <i
                            class="bi bi-chat-dots"></i>
                        <button class="btn1 bg-transparent px-4 py-1 my-lg-3 mx-lg-4 mx-3 text-capitalize " type="reset"
                            title="Clear Entered Data.">Clear <i class="bi bi-x-octagon"></i>
                </div>
            </form>
        </div>
        <div class="row">
            <span class="spanThrow text-center my-3">
                <h5 class="linethrow"></h5>
                <span class="text-center text-uppercase px-1" style="background-color: var(--primary-bg);">or</span>
            </span>
            <div class="col-12">
                <div class="contacts">
                    <a href="{{sitedata.Instagram_Profile_Link}}" target="_blank" title="Instagram">
                        <i class="bi bi-instagram  bi-Hover"></i>
                    </a>
                    <a href="tel:+91{{sitedata.WPNumber}}" title="Contact Number">
                        <i class="bi bi-phone bi-Hover">
                        </i>
                    </a>
                    <a href="tel:+91{{sitedata.SecondNumber}}" target="_blank" title="Contact Number">
                        <i class="bi bi-telephone bi-Hover" id="telephone"></i>

                    </a>
                    <a href="{{sitedata.WP_Link}}" target="_blank" title="Whatsapp Link">
                        <i class="bi bi-whatsapp bi-Hover"></i>
                    </a>
                    <a href="mailto:{{sitedata.Email_id}}" title="Email">
                        <i class="bi bi-envelope bi-Hover"></i>
                    </a>
                </div>
            </div>
            <div class="col-12">

            </div>
        </div>
    </div>
</div>
<script>
    window.document.title += " | Contact Us";
  
  </script>
{% endblock body%}
