{% extends 'Base.html' %}
{% load static %}

{% block link_css %}
<link rel="stylesheet" href="{%static 'css/home.css'%}">
<style>
    .not-visible {
        visibility: hidden;
    }
</style>
{% endblock link_css %}
<link rel="stylesheet" href="{%static 'css/card.css'%}">

{%block body%}
<h1 class="heading">
</h1>
<h1 class="text-capitalize mt-4 mb-2 py-2 text-center heading bi-emoji-heart-eyes-fill">
    Upcoming Tours
</h1>
<div class="container">
    <div class="row py-2" id="updates">
        {%for updates in tours.all%}
        {%if updates.TourIsNotExpire %}

        <div class="col-lg-6 col-12 col-sm-6 UpdatesContainer my-4 ">
            {%else%}
            <div class="col-lg-6 col-12 col-sm-6 UpdatesContainer my-4 TourExpireContiner" data-toggle="tooltip"
                title="Tour Is Expired">
                {%endif%}
                <div class="card text-white text-center cardHoverd"
                    style="background-image: url('{{updates.Tour_image.url}}');padding: 2rem;height: 100%;">
                    <div class="scaleImage" data-bs-toggle="modal" data-bs-target="#image_{{updates.id}}"><i
                            class="bi bi-zoom-in"></i></div>
                    <span class="m-auto">

                        <h3 class="text-capitalize">{{updates.Heading|safe}}</h3>
                        <b class="my-2"><i class="bi bi-clock-fill"></i>
                            {{updates.tour_on_date}}
                            <br><i class="bi bi-geo-alt-fill"></i>
                            {{updates.location}}
                            <i class="bi bi-person-fill ms-2"></i>
                            {{updates.slorts}}
                        </b>
                        <br>
                        <span>

                            {%if updates.TourIsNotExpire %}
                            <button type="button" class="btn btn-outline-light btn1 mt-auto py-2 my-2 my-lg-0"
                                data-bs-toggle="modal" data-bs-target="#main{{updates.id}}">
                                <b>Details</b>
                            </button>
                            <a href="updates/bookslot{{updates.id}}">
                                <button class="btn btn-outline-light btn1 mt-auto py-2">
                                    <b>₹{{updates.price}} | Book Your Slot Now</b>
                                </button>
                            </a>
                            {%else%}
                            <button type="button"
                                class="btn btn-outline-light btn1 mt-auto py-2 my-2 my-lg-0 TourExpire "
                                data-toggle="tooltip" data-placement="bottom" title="Tour All Ready Expired"
                                data-bs-toggle="modal" data-bs-target="#main{{updates.id}}">
                                <b>Details</b>
                            </button>
                            <button class="btn btn-outline-light btn1 mt-auto py-2 TourExpire"
                                title="Can't Book To This Tour ">
                                <b>₹{{updates.price}} | Book Your Slot Now</b>
                            </button>
                            {%endif%}
                        </span>
                    </span>

                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="main{{updates.id}}" tabindex="-1" aria-labelledby="model{{updates.id}}"
                data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-body ">
                            <button type="button" class="btn-close btn-close-white position-absolute "
                                data-bs-dismiss="modal" aria-label="Close" title="close"></button>
                            <img src="{{updates.Tumbnail.url}}" alt="" class="img-fluid mx-auto w-100">
                            {{updates.packageInfo|safe}}
                        </div>
                        <div class="flex mx-auto py-3">
                            {%if updates.TourIsNotExpire %}
                            <a href="updates/bookslot{{updates.id}}">
                                <button type="button" class="btn-outline-light btn1 bg-transparent ">Book
                                    Now</button>
                            </a>
                            {%else%}

                            <button type="button" class="btn-outline-light btn1 bg-transparent TourExpire">Book
                                Now</button>
                            {%endif%}
                            <button type="button" class="btn-outline-light btn1 bg-transparent "
                                data-bs-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
            <!--  image Modal -->
            <div class="modal fade modelBlur" id="image_{{updates.id}}" tabindex="">
                <div class="modal-dialog modal-dialog-centered">
                    <div id="carouselExampleControls{{updates.id}}" class="carousel slide text-center carousel-dark"
                        data-mdb-ride="carousel">
                        <div class="carousel-inner text-white">
                            <div class="carousel-item active">
                                <img src="{{updates.Tour_image.url}}" alt="" class="img-fluid"
                                    style="max-height: 75vh;">

                            </div>
                            <div class="carousel-item ">
                                <img src="{{updates.Tumbnail.url}}" alt="" class="img-fluid" style="max-height: 75vh;">


                            </div>
                        </div>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button"
                    data-mdb-target="#carouselExampleControls{{updates.id}}" data-mdb-slide="prev">
                    <span class="fas fa-angle-left text-white" aria-hidden="true" style="font-size: 2.5rem;"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button"
                    data-mdb-target="#carouselExampleControls{{updates.id}}" data-mdb-slide="next">
                    <span class="fas fa-angle-right text-white" aria-hidden="true" style="font-size: 2.5rem;"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            {%endfor%}
        </div>
        <div class="row my-4">
            <div class="col-12 mx-auto text-center">
                <button class="btn1 bg-transparent p-1 px-2 text-white col-lg-auto mx-auto" id="loadmore"
                    style="opacity: 0.9;">Load More</button>
            </div>
            <div class="col-12 mx-auto text-center">
                <div class="spinner-grow  mx-auto  theme-color not-visible" role="status" id="spinner">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="alert alert-primary text-center not-visible" role="alert" id="noMoreAlert">
                    All Done ✔. NO More Tours To Load!
                </div>
            </div>
        </div>
    </div>

    <script>
        window.document.title += " | Updates";
        var TourIsNotExpire = document.getElementsByClassName('TourIsNotExpire').style;

        // onclick lisner for ajax call 
        document.getElementById('loadmore').addEventListener('click', loadMoreUpdates);
        // spinner and loadmore btn and alert 
        var spinner = document.getElementById('spinner');
        var btn = document.getElementById('loadmore');
        var alertNoMore = document.getElementById('noMoreAlert');
        // update insert to append data from js to html
        var updateInsert = document.getElementById('updates');
        // current number of updates avaliable
        var currentNoUpdates = 4;



        // loadmore function to handle ajax


        function loadMoreUpdates() {
            // spiner visible and load more hidden
            spinner.style.visibility = "visible";
            btn.style.visibility = "hidden";

            // ajax variable
            var getData = new XMLHttpRequest();
            getData.open("GET", "updates/getMoreUpdates" + (currentNoUpdates), true);
            getData.onload = () => {
                // spiner hidden and load more vissible
                spinner.style.visibility = "hidden";
                btn.style.visibility = "visible";


                // status ok : 200
                if (getData.status == 200) {
                    // update current no of updates 
                    currentNoUpdates += 4;
                    var data = JSON.parse(getData.response);
                    if (data.data[0] == null) {
                        btn.style.visibility = "hidden";
                        alertNoMore.style.visibility = "visible";
                    }
                    for (var i in data.data) {
                        var updates = data.data[i];
                        // inner html insert in updateInsert 
                        // card
                        updateInsert.innerHTML += `{%if updates.TourIsNotExpire %}

                    <div class="col-lg-6 col-12 col-sm-6 UpdatesContainer my-4 ">
                    {%else%}
                        <div class="col-lg-6 col-12 col-sm-6 UpdatesContainer my-4 TourExpireContiner" data-toggle="tooltip"
        title="Tour Is Expired">
                        {%endif%}
                        <div class="card text-white text-center cardHoverd"
                        style="background-image:url('${updates.Tour_image}');padding: 2rem;">
                        <div class="scaleImage" data-bs-toggle="modal" data-bs-target="#image_${updates.id}"><i
                            class="bi bi-zoom-in"></i></div>
                            <h3 class="text-capitalize">${updates.Heading}</h3>
                            <b><i class="bi bi-clock-fill"></i>
                                ${updates.tour_on_date}
                    <br><i class="bi bi-geo-alt-fill"></i>
                    ${updates.location}
                    <i class="bi bi-person-fill ms-2"></i>
                    ${updates.slorts}
                </b>
                <br>
                <span>

                    {%if updates.TourIsNotExpire %}
                    <button type="button" class="btn btn-outline-light btn1 mt-auto py-2 my-2 my-lg-0"
                        data-bs-toggle="modal" data-bs-target="#main${updates.id}">
                        <b>Details</b>
                    </button>
                    <a href="updates/bookslot${updates.id}">
                        <button class="btn btn-outline-light btn1 mt-auto py-2">
                            <b>₹{{updates.price}} | Book Your Slot Now</b>
                        </button>
                    </a>
                    {%else%}
                    <button type="button" class="btn btn-outline-light btn1 mt-auto py-2 my-2 my-lg-0 TourExpire "  title="Tour Expired"
                        data-bs-toggle="modal" data-bs-target="#main${updates.id}">
                        <b>Details</b>
                    </button>
                    <button class="btn btn-outline-light btn1 mt-auto py-2 TourExpire" title="Tour Expired">
                        <b>₹${updates.price} | Book Your Slot Now</b>
                    </button>
                    {%endif%}
                </span>
            </div>
        </div>
        <div class="modal fade" id="main${updates.id}" tabindex="-1" aria-labelledby="model${updates.id}"
            data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-body ">
                        <button type="button" class="btn-close btn-close-white position-absolute "
                            data-bs-dismiss="modal" aria-label="Close" title="close"></button>
                        <img src="${updates.Tumbnail.url}" alt="" class="img-fluid">
                        ${updates.packageInfo}
                    </div>
                    <div class="flex mx-auto py-3">
                        {%if updates.TourIsNotExpire %}
                            <a href="updates/bookslot${updates.id}">
                                <button type="button" class="btn-outline-light btn1 bg-transparent ">Book
                                    Now</button>
                            </a>
                            {%else%}
                            
                                <button type="button" class="btn-outline-light btn1 bg-transparent  TourExpire">Book
                                    Now</button>
                            {%endif%}
                        <button type="button" class="btn-outline-light btn1 bg-transparent "
                            data-bs-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade modelBlur" id="image_${updates.id}" tabindex="">
            <div class="modal-dialog modal-dialog-centered">
                <div id="carouselExampleControls${updates.id}" class="carousel slide text-center carousel-dark"
                    data-mdb-ride="carousel">
                    <div class="carousel-inner text-white">
                        <div class="carousel-item active">
                            <img src="${updates.Tour_image}" alt="" class="img-fluid" style="max-height: 75vh;">

                        </div>
                        <div class="carousel-item ">
                            <img src="${updates.Tumbnail}" alt="" class="img-fluid" style="max-height: 75vh;">
                        </div>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls${updates.id}"
                data-mdb-slide="prev">
                <span class="fas fa-angle-left text-white" aria-hidden="true" style="font-size: 2.5rem;"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls${updates.id}"
                data-mdb-slide="next">
                <span class="fas fa-angle-right text-white" aria-hidden="true" style="font-size: 2.5rem;"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>`;
                    }

                }
                else {
                    alertNoMore.innerHTML = "Can't Load More Tours";
                    alertNoMore.style.visibility = "visible";
                    btn.style.visibility = "hidden";


                }
                console.clear();

            }

            getData.send();
        }
    </script>
    {% endblock body%}
    {% block Script %}
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-6200cfd66fd339e5"></script>
    <script src="{%static 'js/gallary.js'%}"></script>


    {% endblock Script %}