<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg  navbar-dark " style="background-color:#eaae00;">
        <div class="container">
            <a class="navbar-brand " href="#">
                <img src="Images/logo/Logo.svg" alt="" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel" style="background-color: #eaae00;">
                <div class="offcanvas-header">
                    <a class="navbar-brand " href="#">
                        <img src="Images/logo/Logo.svg" alt="" class="d-inline-block align-text-top">
                    </a>
                    <button type="button" class="btn-close btn-close-white opacity-100 px-3" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <!-- links -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto ">
                        <li class="nav-item px-lg-2">
                            <a class="nav-link" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item px-lg-2">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item px-lg-2">
                            <a class="nav-link" href="#">Service</a>
                        </li>
                        <li class="nav-item px-lg-2">
                            <a class="nav-link" href="#">Contact</a>
                        </li>

                    </ul>
                    <form class="d-flex shadow" role="search">
                        <input class="ps-3 pe-1 form-control-plaintext text-white  bg-warning " type="search"
                            placeholder="Search.." aria-label="Search" style="background-color: #ffc400;">
                        <button class="btn btn-info px-4" type="submit" style="border-radius: 0;"><i
                                class="bi bi-search text-white"></i></button>
                    </form>
                </div>
            </div>
    </nav>
    <!-- Group 1 -->
    <div class="container-fluid bg-warning text-white py-lg-5">
        <div class="container ">
            <div class="row py-5">
                <div class="col-lg-8 col-12 order-1 order-lg-0">
                    <span id="group1Text" class="">
                        First I wanted to be <br>
                        a veterinarian
                        <p class="h4 my-1">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, reiciendis praesentium iure
                            possimus ratione necessitatibus.
                        </p>
                        <span class="btn-group mt-3 mt-lg-0">
                            <a href="#" class="me-2">
                                <button class="btn btn-info"> Contact Us</button>
                            </a>
                            <a href="#">
                                <button class="btn  btn-outline-light"> Our Service</button>
                            </a>
                        </span>
                    </span>
                </div>
                <div class="col-lg-4 col-6 mx-auto order-0 order-lg-1">
                    <img src="Images/Group1.svg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <!-- Group 2 -->
    <div class="container-fluid py-5">
        <div class="container my-5">
            <div class="row py-5">
                <div class="col-lg-6 col-12 order-1 order-lg-0 text-lg-start text-center">
                    <span id="Group2Text" class="">
                        As a veterinarian and <br>
                        lover of animals.
                        <p class="h5 mt-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, aperiam
                            quas laborum labore quibusdam amet.</p>
                        <a href="#">
                            <button class="btn btn-warning my-2">
                                Our Service
                            </button>
                        </a>
                    </span>
                </div>
                <div class="col-lg-6 col-12  order-0 order-lg-1">
                    <div class="col-lg-8  col-11 mb-4 mb-lg-0 mx-auto position-relative " style="z-index: 3;"
                        id="Group2Video">
                        <img src="Images/Group2.svg" alt="" class="img-fluid" style="z-index: 1;">
                        <i class="bi bi-play-circle-fill position-absolute  text-white"
                            style="left: 42%;top: 42%;z-index: 5;font-size: 6vh;"></i>
                        <span
                            style="width: 100%;position: absolute;background-color:#eaae00;height: 100%;left: 0; opacity: 0.5;z-index: 1;"></span>
                    </div>
                    <img src="Images/Shape.svg" alt="" class="w-25 h-25 position-absolute"
                        style="transform: translateY(-20vh) translateX(3vh)">
                </div>
            </div>
        </div>
    </div>
    <!-- Group 3 -->
    <div class="container-fluid bg-warning text-white">
        <div class="container">
            <div class="row py-5">
                <h1 class="title text-center">TITLE HERE</h1>
                <span class="text-center h4 w-100 mx-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Debitis, iusto.</span>
                <div class="col-lg-4 col-12">
                    <div class="card text-center mx-auto bg-transparent border-0 mt-3">
                        <img src="Images/Group3 (2).svg" alt="" class="img-fluid mb-2">
                        <h4 class="text-capitalize">Veterinarian</h4>
                        <h6>Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet.</h6>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="card text-center mx-auto bg-transparent border-0 mt-3">
                        <img src="Images/Group3 (1).svg" alt="" class="img-fluid mb-2">
                        <h4 class="text-capitalize">vacination care</h4>
                        <h6>Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet.</h6>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="card text-center mx-auto bg-transparent border-0 mt-3">
                        <img src="Images/Group3 (3).svg" alt="" class="img-fluid mb-2">
                        <h4 class="text-capitalize">Dental Care</h4>
                        <h6>Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Group 4 -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row py-5">
                <div class="col-lg-6 col-12 order-1 order-lg-1 text-lg-end text-center">
                    <span id="Group2Text" class="">
                        As a veterinarian and <br>
                        lover of animals.
                        <p class="h5 mt-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, aperiam
                            quas laborum labore quibusdam amet.</p>
                        <a href="#">
                            <button class="btn btn-warning my-2">
                                Our Service
                            </button>
                        </a>
                    </span>
                </div>
                <div class="col-lg-6 col-12  order-0 order-lg-0">
                    <div class="col-lg-8  col-11 mb-4 mb-lg-0 mx-auto position-relative " style="z-index: 3;"
                        id="Group2Video">
                        <img src="Images/Group4.svg" alt="" class="img-fluid" style="z-index: 1;">
                        <i class="bi bi-play-circle-fill position-absolute  text-white"
                            style="left: 42%;top: 42%;z-index: 5;font-size: 6vh;"></i>
                        <span
                            style="width: 100%;position: absolute;background-color:#eaae00;height: 100%;left: 0; opacity: 0.5;z-index: 1;"></span>
                    </div>
                    <img src="Images/Shape.svg" alt="" class="w-25 h-25 position-absolute"
                        style="transform: translateY(-22vh) translateX(18vh)">
                </div>
            </div>
        </div>
    </div>
    <!-- Group 5 -->
    <div class="container-fluid bg-warning text-white">
        <div class="container">
            <div class="row py-5">
                <h1 class="title text-center">TITLE HERE</h1>
                <span class="text-center h4 w-100 mx-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Debitis, iusto.</span>
                <div class="col-lg-4 col-12">
                    <div class="card text-center mx-auto bg-transparent border-0 mt-3">
                        <img src="Images/Group5 (2).svg" alt="" class="img-fluid mb-2">
                        <h3 class="" style="font-weight: 400;">
                            <b class="text-decoration-line-through"> &dollar;50 </b>
                            &nbsp;
                            <b>&dollar;30</b>
                        </h3>
                        <a href="#"><button class="btn btn-info px-4 py-2 mb-2" style="border-radius: 5vh;">Buy
                                Now</button></a>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="card text-center mx-auto bg-transparent border-0 mt-3">
                        <img src="Images/Group5 (1).svg" alt="" class="img-fluid mb-2">
                        <h3 class="" style="font-weight: 400;">
                            <b class="text-decoration-line-through">&dollar;40</b>
                            &nbsp;
                            <b>&dollar;25</b>
                        </h3>
                        <a href="#"><button class="btn btn-info px-4 py-2 mb-2" style="border-radius: 5vh;">Buy
                                Now</button></a>

                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="card text-center mx-auto bg-transparent border-0 mt-3">
                        <img src="Images/Group5 (3).svg" alt="" class="img-fluid mb-2">
                        <h3 class="" style="font-weight: 400;">
                            <b class="text-decoration-line-through">&dollar;45</b>
                            &nbsp;
                            <b>&dollar;20</b>
                        </h3>
                        <a href="#"><button class="btn btn-info px-4 py-2 mb-2" style="border-radius: 5vh;">Buy
                                Now</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Group 6 -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row text-center">
                <h1 class="title text-center text-capitalize">The vetcare team</h1>
                <span class="text-center h4 w-100 mx-auto my-1">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptas veritatis tenetur sunt voluptatibus asperiores dolores.</span>
                <div class="col-lg-4 col-12 mt-4">
                    <div class="card border-0">
                        <img src="Images/Group6 (3).svg" alt="" class="img-fluid">
                        <h4 class="text-capitalize mt-2"><b>Jennifer Mullen</b></h4>
                        <h6 class="text-uppercase">VENTErinary</h6>
                        <div class="d-flex text-white socails w-75 mx-auto my-3">
                            <a href="#">
                                <i class="bi bi-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-whatsapp"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12 mt-4">
                    <div class="card border-0"><img src="Images/Group6 (2).svg" alt="" class="img-fluid">
                        <h4 class="text-capitalize mt-2"><b>Shreeren Collins</b></h4>
                        <h6 class="text-uppercase">admistration</h6>
                        <div class="d-flex text-white socails w-75 mx-auto my-3">
                            <a href="#">
                                <i class="bi bi-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-whatsapp"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12 mt-4">
                    <div class="card border-0"><img src="Images/Group6 (1).svg" alt="" class="img-fluid">
                        <h4 class="text-capitalize mt-2"><b>Jennifer Mullen</b></h4>
                        <h6 class="text-uppercase">VENTErinary</h6>
                        <div class="d-flex text-white socails w-75 mx-auto my-3">
                            <a href="#">
                                <i class="bi bi-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-whatsapp"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Group 7 -->
    <div class="container-fluid py-5 text-white"
        style="background-image:linear-gradient(45deg,rgba(234, 176, 0, 0.8),rgba(234, 176, 0, 0.8)),url(Images/Group7bg.png);background-position: center;background-repeat: no-repeat;background-size: cover;">
        <div class="container my-lg-5 my-0">
            <div class="row text-center">
                <div class="col-lg-4 col-12 py-4 py-lg-0 mt-lg-0">
                    <img src="Images/Icons/Icon (2).svg" alt="" class="img-fluid bg-transparent  icons">
                    <h2 class="mt-4">+34793</h2>
                    <h2><b>Happy Clients</b></h2>
                </div>
                <div class="col-lg-4 col-12 py-4 py-lg-0 mt-lg-0">
                    <img src="Images/Icons/Icon (1).svg" alt="" class="img-fluid bg-transparent  icons">
                    <h2 class="mt-4">+45382</h2>
                    <h2><b>Department</b></h2>
                </div>
                <div class="col-lg-4 col-12 py-4 py-lg-0 mt-lg-0">
                    <img src="Images/Icons/Icon.svg" alt="" class="img-fluid bg-transparent  icons">
                    <h2 class="mt-4">+54762</h2>
                    <h2><b>Vaccinations</b></h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Group 8 -->
    <div class="container-fluid">
        <div class="container">
            <div class="row py-5">
                <h1 class="title text-center text-capitalize">Recent Post</h1>
                <span class="text-center h5 w-100 mx-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Debitis, iusto.</span>
                <div class="col-lg-4 col-12 mt-5">
                    <div class="card border-0">
                        <img src="Images/Group8 (3).png" alt="" class="img-fluid">
                        <div class="card-body border  border-top-0">
                            <b class="h4 ">As a veterinarian and
                                lover of animals</b>
                            <br>
                            <b class="text-info text-uppercase pt-1">
                                Februbary 09,2020
                            </b>
                            <p class="pt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
                                pariatur aperiam expedita incidunt ipsum dolores.</p>
                            <b class="h5 text-info ">Read More +</b>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12 mt-5">
                    <div class="card border-0 ">
                        <img src="Images/Group8 (1).png" alt="" class="img-fluid">
                        <div class="card-body border  border-top-0">
                            <b class="h4 ">As a veterinarian and
                                lover of animals</b>
                            <br>
                            <b class="text-info text-uppercase pt-1">
                                Februbary 10,2020
                            </b>
                            <p class="pt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
                                pariatur aperiam expedita incidunt ipsum dolores.</p>
                            <b class="h5 text-info ">Read More +</b>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12 mt-5">
                    <div class="card border-0">
                        <img src="Images/Group8 (2).png" alt="" class="img-fluid">
                        <div class="card-body border  border-top-0">
                            <b class="h4 ">As a veterinarian and
                                lover of animals</b>
                            <br>
                            <b class="text-info text-uppercase pt-1">
                                Februbary 11,2020
                            </b>
                            <p class="pt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
                                pariatur aperiam expedita incidunt ipsum dolores.</p>
                            <b class="h5 text-info ">Read More +</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Group 9 Footer -->
    <div class="container-fluid bg-dark ">
        <div class="container ">
            <div class="row text-white py-5">
                <div class="col-lg-4 col-6 my-3">
                    <h4>About</h4>

                    <a href="#">History</a> <br>
                    <a href="#">Our Team</a> <br>
                    <a href="#">Brand Guideline</a> <br>
                    <a href="#">Trems & Conditions</a> <br>
                    <a href="#">Privacy Policy</a> <br>

                </div>
                <div class="col-lg-4 col-6 my-3">
                    <h4>Service</h4>

                    <a href="#">How To Order</a> <br>
                    <a href="#">Our Products</a> <br>
                    <a href="#">Order Status</a> <br>
                    <a href="#">Promo</a> <br>
                    <a href="#">Payment Method</a> <br>

                </div>
                <div class="col-lg-4 col-12 text-lg-end text-center my-3">
                    <h4>Title Here</h4>
                    <b class="mb-3">Lorem ipsum dolor sit amet.</b>
                    <form class="d-flex shadow" role="search">
                        <input class="ps-3 pe-1 form-control-plaintext text-white  bg-warning " type="search"
                            placeholder="" aria-label="" style="background-color: #ffc400;">
                        <button class="btn btn-info px-4" type="submit" style="border-radius: 0;">
                        <i class="bi bi-send-fill text-white"></i></button>
                    </form>
                    <div class="d-flex text-white socails-white w-75 mx-auto my-3 float-end">
                        <a href="#">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="bi bi-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>


</body>

</html>